@import "modules/partial-variables";
@import "modules/about";
@import "modules/sides";
@import "modules/subpage";

/* ============================================ */
/* =============== GENERAL ==================== */
/* ============================================ */

* {
  font-family: Advent Pro, serif;
  box-sizing: border-box;
  margin: 0;
}

// contact-fpr

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.5rem;
  // FOR DESKTOP DOWN
  @include links($font-xs, white);
  // FOR MOBILE ONLY
  @include for-phone-only {
    @include links($font-xxs, white);
  }
}

h1 {
  // FOR DESKTOP DOWN
  @include title($font-large, white, $line-large);
  // FOR TABLET HD PORTRAIT ONLY
  @include for-tablet-HD-portrait-only {
    @include title($font-xl, white, $line-xl);
  }
  // FOR PHONE ONLY
  @include for-phone-only {
    font-size: 1.8rem;
    line-height: $line-large;
    letter-spacing: 0.45rem;
    font-weight: 600;
  }
}

h2 {
  // FOR DESKTOP DOWN
  @include title($font-normal, white, $line-normal);
}

h3 {
  // FOR DESKTOP DOWN
  @include title($font-small, white, $line-small);
}

p {
  // FOR DESKTOP DOWN
  @include text($font-normal, white);
  // FOR PHONE ONLY
  @include for-phone-only {
    @include text($font-small, white);
  }
}

ul {
  color: white;
}

li {
  // FOR DESKTOP DOWN
  @include liste($font-normal, white);
}

.buttons {
  // FOR DESKTOP DOWN
  @include size(3.5rem, 3.5rem);
  padding: 0;
  margin: 0;
  &--cross {
    @include size(2rem, 2rem);
    top: 2vw;
  }
  &--cross,
  &--sub {
    position: absolute;
  }
  .icons--img {
    @include size(100%, 100%);
  }
}

.not-phone {
  // FOR DESKTOP DOWN
  display: block; // inline text no break in §
  // FOR TABLET HD PORTRAIT DOWN
  @include for-phone-only {
    display: none;
  }
}

// .not-desk {
//   // FOR DESKTOP DOWN
//   display: none;
//   // FOR PHONE ONLY
//   @include for-phone-only {
//     display: block;
//   }
// }

.not-desk {
  // FOR DESKTOP DOWN
  display: none;
  // FOR PHONE ONLY
  @include for-tablet-HD-portrait-down {
    display: block;
  }
}

/* ============================================ */
/* ================= SCREENS ================== */
/* ============================================ */

.screen {
  // FOR DESKTOP DOWN
  @include size(100vw, 100vh);
  position: absolute;
  top: 0;
  transition: $transition-forward; // if breaks with slide try transform translate x
  &__welcome {
    @include blackground-image(
      "background_site_light.jpg",
      rgba($dark-green, 0.6)
    );
    background-blend-mode: overlay;
  }
  &__gallery {
    left: -100vw;
    background-color: $dark-green;
    min-height: 100vh;
    // FOR PHONE ONLY
    @include for-phone-only {
      height: auto;
    }
    #gallery {
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch; // for ios mobile
      // FOR DESKTOP DOWN
      @include scroll-div(auto, hidden, auto, 100vh);
      padding: 15vh 2vw;
      // FOR TABLET HD PORTRAIT DOWN
      @include for-tablet-HD-portrait-down {
        padding: 25vh 2vw;
      }
      // FOR PHONE ONLY
      @include for-phone-only {
        @include scroll-div(hidden, scroll, 100vw, auto);
        padding: 8vh 2vw 8vh 2vw;
      }
    }
  }
  &__about {
    height: auto;
    left: 100vw;
    background-color: $mint-green;

    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch; // for ios mobile
  }

  /* ============================================ */
  /* ================= SIDES ==================== */
  /* ============================================ */

  &__side {
    position: fixed;
    z-index: z(sides);
    top: 0;
    overflow-x: hidden;
    box-shadow: $box-shadow;
    transition: $transition-slow;
    &__filter {
      background-color: #689793;
      left: 0;
    }
    &__contact {
      right: 0;
      background-color: $black-green;
    }
    &--wrapper {
      transition: $transition-fast; // opacity text
      height: 100vh;
      display: grid;
      &__contact {
        grid-template-rows: 1fr 8fr 4fr;
        padding: 16vh 8vh 8vh 4vh;
        // FOR TABLET HD PORTRAIT DOWN
        @include for-tablet-HD-portrait-down {
          padding: 12vh 4vh 4vh;
        }
      }
      &__filter {
        grid-template-rows: 10fr 10fr 1fr 8fr;
        padding: 8vh 0 8vh 8vh;
        // FOR TABLET LANDSCAPE DOWN
        @include for-tablet-HD-portrait-down {
          grid-template-rows: 1fr;
          padding: 0;
        }
      }
    }
  }
}

/* ============================================ */
/* ============== WELCOME PAGE ================ */
/* ============================================ */

#logo-front {
  @include centered;
  // FOR DESKTOP DOWN
  @include for-desktop-down {
    @include size(400px, 300px);
    // FOR PHONE ONLY
    @include for-phone-only {
      @include size(250px, auto);
    }
  }
}

/* ============================================ */
/* ================== MENU ==================== */
/* ============================================ */

.c-menu {
  @include size(100vw, 8vh);
  @include vertical-align(a);
  transition: background-color 0.7s 0.1s ease;
  position: fixed;
  left: 0vh;
  z-index: z(menu);
  background-color: none;
  &--top {
    top: 0;
    &__link {
      padding-bottom: 0.5rem;
    }
    &__link:hover {
      border-bottom: solid 1.3px white;
    }
  }
  &--bottom {
    bottom: 0vh;
    &__link {
      padding-top: 0.5rem;
    }
    &__link:hover {
      border-top: solid 1.3px white;
    }
  }
  &__link {
    @include size(fit-content, fit-content);
    transition: $transition-fast;
    &--left {
      padding-left: 3.5%;
      text-align: end;
      left: 0%;
    }
    &--right {
      padding-right: 3.5%;
      text-align: start;
      right: 0%;
    }
  }
}

/* ============================================ */
/* ============== GALLERY PAGE ================ */
/* ============================================ */

.project {
  &--wrapper {
    display: inline-block;
    scroll-snap-align: center;
    box-shadow: $box-shadow;
    transition: $transition-fast;
    filter: contrast(0.9);
    // FOR DESKTOP DOWN
    @include size(auto, 70vh);
    margin: 0 2vw;
    // FOR TABLET HD PORTRAIT DOWN
    @include for-tablet-HD-portrait-down {
      @include size(85vw, auto);
    }
    // FOR PHONE ONLY
    @include for-phone-only {
      @include size(85vw, 30vh);
      display: block;
      margin: 3vh auto;
    }
    &:hover {
      transform: scale(1.03);
      filter: contrast(1);
    }
  }
  &--link {
    @include size(auto, 100%);
    position: relative;
    display: block;
  }
  &--img {
    border: $border;
    // FOR DESKTOP DOWN
    @include size(auto, 100%);
    // FOR TABLET HD PORTRAIT DOWN
    @include for-tablet-HD-portrait-down {
      @include size(100%, auto);
    }
  }
  &--title {
    @include size(fit-content, fit-content);
    margin-left: 3rem;
    text-shadow: $text-shadow;
    position: absolute;
    bottom: 3rem;
    z-index: 10;
    // FOR PHONE ONLY
    @include for-phone-only {
      margin-left: 1rem;
      bottom: 1rem;
      font-size: 1.2rem;
      letter-spacing: 0.45rem;
    }
  }
}

/* LOADER */

.loader {
  @include centered;
  @include size(50px, 50px);
  border: 8px solid white;
  border-top: 8px solid $dark-green;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
  opacity: 0.7;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
