/* ABOUT SCREEN */
@import "partial-variables";

/* ============= FOR PHONE GENERAL ================ */

@include for-phone-only {
  .about--img,
  .about--text,
  .about--icons__container {
    margin: auto;
    width: 70%;
    margin-top: 1.5rem;
    &__wrapper {
      width: 100%;
    }
  }
}

/* ================= CONTAINERS ===================== */

.about--wrapper {
  // ALL SIZES
  @include size(100%, 100vh);
  position: relative;

  padding-top: 15vh;
  // MOBILE UP TO TABLET
  &__1,
  &__2 {
    padding-top: 25vh;
    text-align: center;
  }
  @include for-phone-only {
    text-align: center; // center img on mobile
    &__3 {
      height: 115vh;
      padding-top: 8vh; // just = menu height
    }
  }
  // TABLET UP
  @include for-tablet-landscape-up {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    padding: 20vh 15vw 10vh 15vw;
    &__1 {
      grid-gap: 3rem;
      padding: 20vh 20vw 15vh 20vw;
      grid-template-columns: 1fr;
    }
    &__2 {
      grid-gap: 3rem;
      padding: 30vh 20vw 15vh 20vw;
      grid-template-columns: 1fr;
    }
    ul,
    h3 {
      padding: 3rem;
    }
    &__5 {
      h3 {
        font-weight: 600;
      }
    }
  }
  &__not-desk {
    display: none;
    @include for-phone-only {
      display: block;
    }
  }
}

/* ================= IMAGES ===================== */

.about--img {
  // ALL SIZES
  @include size(auto, auto);
  outline: solid 2px white;
  margin: auto;
  &__1 {
    @include centered;
    outline: none;
  }
  // FOR MOBILE UP TO TABLET LANDSCAPE
  max-height: 500px;
  max-width: 70%;
  // FOR TABLET UP
  @include for-tablet-landscape-up {
    max-height: 500px;
    max-width: 100%;
    align-self: center;
    justify-self: end;
    &__1 {
      max-width: 30%;
      position: initial;
      place-self: center;
    }
    &__5 {
      max-width: 400px;
    }
  }
}

/* ================= TEXT ===================== */

.about--text {
  // ALL SIZES
  color: $dark-green;
  font-family: Khand;
  @include for-tablet-landscape-up {
    display: inline; // FOR SPAN NOT LINE BREAK
  }
  span:not(.not-phone) {
    font-family: Khand;
    font-size: 1.8rem;
    color: white;
    @include for-phone-only {
      font-size: 1.5rem;
    }
    font-weight: 500;
  }
  &__5 {
    @include for-phone-only {
      width: 50%;
      margin: auto;
    }
    color: $dark-green;
    font-family: Khand;
    margin-top: 3rem;
  }
  &__wrapper {
    grid-column: 2/3;
    align-self: center;
    justify-self: start;
    // PHONE
    @include for-phone-only {
      text-align: center;
    }
  }
  &__title {
    width: 90%;
    margin: auto;
    grid-column: 1/-1;
    margin-bottom: 3rem;
    align-self: end;
    text-align: center;
    &__5 {
      margin-top: 3rem;
    }
    // FOR TABLET LANDSCAPE UP
    @include for-tablet-landscape-up {
      &__5 {
        margin-bottom: 1.5rem;
        width: 100%;
        text-align: start;
      }
    }
  }
}

/* ================= ICONS ===================== */

.about--icons {
  width: 18%;
  padding: 1.5%;
  @include for-tablet-landscape-up {
    width: 10%;
    padding: 1%;
  }
  @include for-phone-only {
    &__container {
      margin-top: 10vh;
    }
  }
  &__container__5 {
    margin: auto;
    width: 50%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    .buttons {
      place-self: center;
    }
    @include for-tablet-landscape-up {
      margin: 0;
      .buttons {
        justify-self: start;
      }
    }
  }
}

/* ================= SLIDING ===================== */

/* SLIDING */
.slide-anim {
  visibility: hidden;
  visibility: visible; /*For old IE browsers IE6-8 */
}
.slide-anim .slide {
  visibility: visible;
  animation: slide 1s;
}
.slide-anim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
