/* ABOUT SCREEN */
@import "partial-variables";

/* ============================================ */
/* =============== GENERAL ==================== */
/* ============================================ */

@include for-tablet-portrait-down {
  .about--img,
  .about--text,
  .about--icons__container {
    // margin: auto;
    // width: 70%;
    // margin-top: 5rem;
    @include for-phone-only {
      margin-top: 1.5rem;
      width: 100%;
    }
    &__wrapper {
      width: 100%;
    }
  }
}

/* ============================================ */
/* =============== CONTAINERS ================= */
/* ============================================ */

.about--wrapper {
  // ALL SIZES
  @include size(100%, 100vh);
  position: relative;
  scroll-snap-align: center;
  padding-top: 15vh;

  &__1,
  &__2 {
    padding-top: 25vh;
    text-align: center;
  }

  // FOR DESKTOP DOWN
  @include for-desktop-down {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    padding: 20vh 15vw 10vh 15vw;
    &__1 {
      grid-gap: 3rem;
      padding: 20vh 20vw 15vh 20vw;
      grid-template-columns: 1fr;
    }
    &__2 {
      grid-gap: 3rem;
      padding: 30vh 20vw 15vh 20vw;
      grid-template-columns: 1fr;
    }
    ul,
    h3 {
      padding: 3rem;
    }
    &__5 {
      h3 {
        font-weight: 600;
      }
    }
  }
  // FOR MOBILE ONLY
  @include for-phone-only {
    display: block;
    padding: 20vh 15vw 15vh 15vw;
    text-align: center; // center img on mobile
    &__3 {
      height: 115vh;
      padding-top: 8vh; // just = menu height
    }
  }

  // &__5 {
  //   .not-phone {
  //     display: block; // no margin top with inline
  //     @include for-phone-only {
  //       display: none;
  //     }
  //   }
  // }

  &__not-desk {
    display: none;
    // FOR PHONE ONLY
    @include for-phone-only {
      display: block;
    }
  }
}

/* ============================================ */
/* ================= IMAGES =================== */
/* ============================================ */

.about--img {
  // ALL SIZES
  @include size(auto, auto);
  outline: solid 2px white;
  margin: auto;

  // FOR DESKTOP DOWN
  @include for-desktop-down {
    max-height: 500px;
    max-width: 100%;
    align-self: center;
    justify-self: end;
    &__1 {
      max-width: 30%;
      position: initial;
      place-self: center;
      outline: none;
    }
    &__5 {
      max-width: 400px;
    }
  }
  // FOR TABLET PORTRAIT
  @include for-tablet-portrait-only {
    max-height: 500px;
    max-width: 100%;
  }
  // FOR PHONE ONLY
  @include for-phone-only {
    max-width: 100%;
    &__1 {
      // max-width: 70%;
      @include centered;
    }
    // &__5 {
    //   // max-width: 70%;
    // }
  }
}

/* ============================================ */
/* ================== TEXT ==================== */
/* ============================================ */

.about--text {
  // ALL SIZES
  color: $dark-green;
  font-family: Khand;

  &__2 {
    // FOR DESKTOP DOWN
    .not-phone {
      display: inline; // no line break on §
      // FOR PHONE ONLY
      @include for-phone-only {
        display: none;
      }
    }
  }

  &__5 {
    // CONTACT SLIDE
    margin-bottom: 3rem;
    // FOR PHONE ONLY
    @include for-phone-only {
      width: 100%;
      margin-top: 1.5rem;
    }
  }

  &__wrapper {
    grid-column: 2/3;
    align-self: center;
    justify-self: start;
    // FOR PHONE ONLY
    @include for-phone-only {
      text-align: center;
    }
  }
  &__title {
    width: 90%;
    margin: auto;
    grid-column: 1/-1;
    margin-bottom: 3rem;
    align-self: end;
    text-align: center;
    &__5 {
      // CONTACT SLIDE
      margin-bottom: 1.5rem;
      width: 100%;
      text-align: start;
      // FOR PHONE ONLY
      @include for-phone-only {
        margin-top: 3rem;
        text-align: center;
      }
    }
  }

  // FOR ALL SIZES
  span:not(.not-phone) {
    font-family: Khand;
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    // FOR PHONE ONLY
    @include for-phone-only {
      font-size: 1.5rem;
    }
  }
}

/* ============================================ */
/* ================= ICONS ==================== */
/* ============================================ */

.about--icons {
  @include for-desktop-down {
    width: 10%;
    padding: 1%;
  }
  @include for-phone-only {
    width: 18%;
    padding: 1.5%;
    &__container {
      margin-top: 10vh;
    }
  }
  &__container__5 {
    // CONTACT
    width: 50%;
    height: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    margin: 0;
    .buttons {
      justify-self: start;
    }
    // FOR PHONE ONLY
    @include for-phone-only {
      width: 100%;
      margin: auto;
      .buttons {
        place-self: center;
      }
    }
  }
}

/* ============================================ */
/* =============== SLIDING ==================== */
/* ============================================ */

/* SLIDING */
.slideanim {
  // ATTENTION DONT CHANGE NAME
  visibility: hidden;
  // visibility: visible\9; /*For old IE browsers IE6-8 */
  visibility: visible\9;
}
.slideanim.slide {
  visibility: visible;
  animation: slide 1s;
}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
